@CHARSET "ISO-8859-1";
body{margin: 0; padding: 0; font-family: Tahoma}
ul{list-style: none;}
ul li{display: inline}
h4, h5, p{margin: 0 0 7px 0; padding: 0}
p{color: #7b5a47; font-size: 12px; line-height: 18px}
#bar_top{width: 100%; float: left; height: 115px; background: url(../img/flag_top.jpg) top repeat-x; padding: 30px 0 0 0; border-bottom: 1px solid #dcd6c8}
#bar_top_content{width: 950px; margin: 0 auto; min-height: 115px; text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.3);}
#bar_top_content h2{color: #998d6a}
#bar_top_content span{color: #f1a02d; text-shadow: gray; padding-left: 15px}
#wrapper{width: 950px; margin:0 auto; min-height: 500px}
#title-site{float: left; height: 100px; width: 200px}
#title-site h2{background: url('../img/logo.png'); width: 303px; height: 82px}

/**
 * Menu
 **/
#menu{float: right; width: 560px; height: 51px; margin-top: 30px}
.menu_left{background: url(../img/menu_side_left.jpg) no-repeat; width: 7px; height: 51px; float: left}
.menu_middle{background: url(../img/menu_middle.jpg) repeat-x; width: 548px; margin-left: -2px; height: 51px; float: left;}
.menu_right{background: url(../img/menu_side_right.jpg) no-repeat; width: 7px; height: 51px; float: left}
#menu ul{margin: 13px 0 0 0; padding: 0; width: 100%; text-align:center;}
#menu ul li{padding: 0 30px}
#menu ul li a{color: #491701; font-size: 14px; font-weight: bold;}
#menu ul li a:hover{color: #f1a02d}

/*
 * icons actions 
 * */
.icons_actions{position: absolute; margin: -20px 0 0 330px !important; padding: 0; list-style: none;}
.icons_actions li{width: auto !important; padding: 0 5px; float: left}
/**
 * login
 */
/*
.login{border: 2px solid #e9e7d8; width: 340px; min-height: 200px; margin: 100px 0 0 -200px; left: 50%; position: absolute; padding: 50px 30px; background-color: #f2f1e5}
.login h2{color: #523c2f; font-size: 18px; margin: 0 0 30px 0; padding: 0;}
.login .login_field{width: 270px; height:30px; border: 0; background-color: #fff}
.login .btn_entra{background: url('../img/arrow_enter.png'); width: 30px; height: 30px; border: 0; background-color: transparent; float: right; margin-top: 30px}
.login p{color: #523c2f;}
.e_login{color: red;font-size: 11px;}*/


/*new login*/
.login{position: absolute; margin: -25px 0 0 -475px; left: 50%; }
.login ul{margin: 0; padding: 0}
.login ul li{font-family: Tahoma; color: #EF6721; font-size: 12px; margin-right: 30px}
.login ul li a{color: #FFF}

/*logout*/
.logout{position: absolute; margin: -25px 10px 0 0; right: -60%; font-family: Tahoma; color: #FFF; font-size: 12px; margin-right: 30px}

/*
* quick search
* */

.quick-search{position: absolute; left: 50%; margin: -27px 0 0 175px; width: 300px; height: 30px; background: url('../img/bg_search.png')}
.quick-search .criteria_qs_text{width: 249px; border: 0; margin-left: 2px; height: 15px; padding: 0 5px; color: #7b5a47; font-style: italic;}
.quick-search .criteria_qs_btn{width: 35px; height: 30px; border: 0; background: transparent; cursor: pointer;}
/**
  * Col-right
  * */

#col-right{float: right; min-height:370px; width: 349px; padding: 15px}

/**
  * Conteudo 
  * */
.option{background: url('../img/bg_options.png'); width: 596px; height: 75px; float: left; margin-left: -55px; margin-bottom: 10px}
.option ul{margin: 15px 0 0 15px; padding: 0}
.option ul li{background: url('../img/bg_option.png'); width: 127px; height: 30px; float: left; background-repeat: no-repeat; text-align: right; padding: 10px 15px 0 0}
.option ul li a{text-decoration: none; color: #523c2f}
.title{font-size: 17px; color: #523c2f; font-weight: bold; margin: 0; padding: 0}
.title_empresa{font-size: 17px; color: #523c2f; font-weight: bold; margin: 0; padding: 0}
.infos_post{float: left; font-size: 10px; color: #523c2f; width: 100%; margin: 5px 0 20px 0}
.post_viewed{float: left; padding: 20px 10px 20px 30px; min-height: 100px; margin: -20px 0 25px -80px; background-color: #eee; min-width: 580px}
.post_viewed p{color: #666}
.post-under-topic{min-height: 300px; width: 100%; float: left;}
.post-under-topic .post{margin-bottom: 30px; float: left}
.avatar{float: left; width: 60px; height: 60px; border: 2px solid #523c2f; margin: 0 10px 10px 0}
.c-post{padding: 0 15px 0 0; min-width: 500px}
.c-post ul{margin: 0; padding: 0}
.c-post ul li{ display: list-item;}
.c-post .date-of-post{font-size: 10px; color: #7b5a47}
.c-post .date-of-post span{font-weight: bold;}
.c-post .post-title{padding: 3px 0 10px 0}
.c-post .container-post{font-size: 13px; line-height: 18px; color: #666;}
.c-post .icons_actions{margin-left: 455px !important; *margin:0 0 0 285px !important;}
.c-post .icons_actions li{display: inline !important;}
.ut_create_post{float: left; width: 100%; min-height: 100px;}
.ut_create_post .ut_titulo_post{
  	border-color: #B3AFA5;
    border-style: solid;
    height: 20px;
    padding: 5px;
    width: 500px;	
}
.ut_create_post .ut_cont_post{
  	border-color: #B3AFA5;
    border-style: solid;
    height: 90px;
    padding: 5px;
    width: 500px;	
}
.sub-title{font-size: 14px; color: #7b5a47; font-weight: bold;}
.link_medium{text-decoration: underline; font-weight: bold; color: #7b5a47; font-size: 14px;}
.profile_pic{border: 4px solid #c9bcad}
#wrapper{width: 950px; min-height: 100px; margin: 145px 0 0 -475px; border: 1px solid #dcd6c8; position: absolute; left: 50%}
#col-left{float: left; width: 540px; min-height: 320px; padding: 30px 0 50px 30px;  border-right: 1px solid #dcd6c8;}
.area_post_form{min-height: 200px; float: left; width: 100%; margin-bottom: 40px}
.title_post{height: 20px; width: 500px; padding: 5px;border: 1px 2px 2px 1px; border-color: #b3afa5; border-style: solid; margin-bottom: 10px}
.cont_post{width: 500px; height: 90px; border: 1px 2px 2px 1px; border-color: #b3afa5; border-style: solid; padding: 5px}
.list_posts{margin: 0; padding: 0}
.list_posts li{width: 100%; float: left; margin-bottom: 20px}
.list_posts tr{float: left; margim-bottom:20px}
.list_posts a{margin: 0px 0px 0px 5px;}
.list_posts h4{margin: 0px 0px 0px -10px; important!}
.list_posts h5{ margin: 0px 0px 0px -5px; important!}
.list_posts td{width: 100%; float: left; margin-bottom: 20px}
.list_thumb{float: left; margin-right: 10px; width: 102px}
.list_cont{width: 400px; float: right}
.list_cont ul{margin: 0; padding: 0}
.btn_post{background: url('../img/bt-enviar.png'); width: 119px; height: 34px; border: 0; float: right; margin: 10px 20px 0 0; cursor: pointer}
.btn_delete{background: url('../img/delete_post.png'); width: 20px; height: 20px; border: 0; float: right; margin: 0 5px 0 0; cursor: pointer}
.btn_edit{background: url('../img/edit_post.png'); width: 20px; height: 20px; border: 0; float: right; margin: 0 5px 0 0; cursor: pointer}

/**
* Topic
*/
#topics
.topics{margin: 10px; padding: 0}
.topics ul{margin: 0; padding: 0}
.topics li{width: 100%; float: left; margin-bottom: 50px; margin-left: -10px}
.topic_thumb{float: left; margin-right: 10px; width: 102px;}
.topic {padding-bottom: 25px; border-bottom: 1px solid #999}
.topic .tr{float: left; margim-bottom:20px}
.topic .icons_actions{margin-left: 455px !important; margin-top: 0 !important; *margin:5px 0 0 285px !important}
.topic .icons_actions li{display: inline !important;}
.topic .p{margin-top: 20px;margin-left: 120px}
.topic .title{margin: 0 20px 0 120px !important}
.topic .sub-title{ margin-left: 120px !important; margin-top: 20px !important;}
.topic .img-user{margin-left: 120px}
.topic .criadoem{font-size: 10px; margin-top: 5px ;margin-bottom:5px }